doctype html
html
  head
    title Tiramos la Casa por la Ventana!
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='icon', href='/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/all.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Luckiest+Guy:400|Indie+Flower:400')

    link(rel='manifest', href='/manifest.json')
    meta(name='mobile-web-app-capable', content='yes')

    meta(name='theme-color', content='#79e9d5')
    meta(name='msapplication-navbutton-color', content='#79e9d5')
    meta(name='apple-mobile-web-app-status-bar-style', content='#79e9d5')

    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    - description = 'After over three years together, we\'re getting married!\n\nThe wedding party is on april 16th, at day time - from 12:30 pm and until 09:00 pm. There\'s going to be a cocktail, followed by dancing, barbecue, more dancing, drinks, desserts, cotillon, and more.'

    meta(name='description', property='og:description', itemprop='description', content=description)
    meta(property='og:site_name', content='Tiramos la Casa por la Ventana')
    meta(name='twitter:title', itemprop='name', property='og:title', content='Tiramos la Casa por la Ventana!')
    meta(name='twitter:description', content=description)
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@nzgb')
    meta(name='twitter:creator', content='@nzgb')

    meta(property='og:image', content='http://tiramoslacasaporlaventana.com/images/balloons.jpg', itemprop='images')
    meta(property='og:image', content='http://tiramoslacasaporlaventana.com/images/alamos.jpg')
    meta(property='og:image', content='http://tiramoslacasaporlaventana.com/images/mila.jpg')

    //- twitter only cares about the last meta image, repeat the cover
    meta(name='twitter:image:src', content='http://tiramoslacasaporlaventana.com/images/balloons.jpg')

  body
    header.ly-header
      h1.ly-title Tiramos la Casa por la Ventana!
    article.lg-lang
      a(href='/') Español?
    nav.nv-menu
      ul.nv-list.yr-clearfix
        li.nv-item
          a(href='#when') When?
        li.nv-item
          a(href='#where') Where?
        li.nv-item
          a(href='#what') What to wear?
        li.nv-item
          a(href='#how') How to get there?
        li.nv-item
          a(href='#gifts') What to gift?

    main.ly-main
      article#when
        header
          h1.sc-heading.tt-heading When is it?
        aside.sc-media-990.sc-aside
          img(src='/images/mila.jpg', alt='')
        section.sc-media-990.sc-content
          h2 After over three years together, we're getting married!
          p The wedding party is on april 16th, at day time &mdash; from 12:30 pm and until 09:00 pm. There's going to be a cocktail, followed by dancing, barbecue, more dancing, drinks, desserts, cotillon, and more.
          p If you have kids, babies, or people you've otherwise created, you can keep calm and bring them. We have planned plenty of activities so that they have fun as well!
          p There's lots of room to park your car or helicopter, so don't worry about that!

          p
            em We recommend 20 hours of fasting, a couple of dance lessons, and an urge to have a good time!
      article#where
        header
          h1.sc-heading.dd-heading Where is it?
        section.sc-media-990.sc-content
          p
            span At the
            span=' '
            a(href='http://www.alamosdecanuelas.com.ar/En/', target='_blank') Álamos de Cañuelas
            span=' '
            span ranch, a gorgeous countryside field packed with fresh air, chickens, goatlings, and even peacocks! Alas, we won't be hunting for food... we'll be enjoying delicious argentine barbecue, but the goatlings and peacocks roaming around the ranch won't be included!
          p The reception cocktail is right outside the lounge. For lunch, we'll head into the lounge, so that we don't fall prey to global warming.
          p The drink bar, tea service, candy buffet, chickens, and fresh air will all be found outside the lounge.
          p
            span Álamos is on national route 3 &mdash; RN3. For directions
            span=' '
            a(href='#how') click here
            span .
          p
            em We hope you like Álamos as much as we do!
        aside.sc-media-990.sc-aside
          img(src='/images/alamos.jpg', alt='')
      article#what
        header
          h1.sc-heading.rc-heading What should I wear?
        aside.sc-media-990-2-3.sc-aside
          img(src='/images/dress.jpg', alt='')
        section.sc-media-990-1-3.sc-content
          p
            span Our dress code is
            span=' '
            strong casual elegant
            span .
          p When picking your dress, keep in mind that &mdash; weather permitting &mdash; the party will take place both indoors and outdoors.
          p To our fancy women: we suggest that you bring a purse with an extra pair of shoes!
          p
            span Kids are exempt from our dress code, and
            span=' '
            em they can dress as they please
            span , so don't feel compelled to dress them up if they don't want to!
          p
            em Keep in mind you'll dance and eat to your heart's content &mdash; it'll be essential to dress comfortably!
        aside.sc-media-990-2-3.sc-aside
          img(src='/images/hat.jpg', alt='')
      article#how
        header
          div.gt-heading-border
          h1.sc-heading.gt-heading How to get there?
        mixin gettingThereMenu(i)
          div.gt-labels
            label(class='gt-label' + (i === 0 ? ' gt-selected' : ''), for='by-car') By car
            label(class='gt-label' + (i === 1 ? ' gt-selected' : ''), for='by-van') By van
        input(type='radio', name='how-menu', class='gt-radio', id='by-car', checked)
        section.gt-content.sc-content
          +gettingThereMenu(0)
          p Here are the GPS coordinates for the ranch.
          table.gt-coordinates
            tr
              td.yr-right-aligned Latitude
              td.d-clear 34° 56' 5.12" S
            tr
              td.yr-right-aligned Longitude
              td.d-clear 58° 43' 9.35" W
          p If you don't own a GPS, you like cartography, or you prefer to read instructions and draw your own maps, here's a description of how to arrive at the ranch.
          ol.gt-instructions
            li
              span Take Ezeiza&mdash;Cañuelas highway, and upon reaching Cañuelas &mdash; that is, the end of the highway &mdash; head out on the first roundabout where there's an
              span=' '
              strong ESSO
              span=' '
              span gas station
            li
              span Take the first entrance to the right
              span=' '
              em (never to the left)
              span , and about 200 m later you'll find another roundabout with an
              span=' '
              strong OIL
              span=' '
              span gas station
            li
              span Make a right, and take the second entrance of the roundabout to the right
              span=' '
              em (never to the left)
            li There's a big green white sign that clearly spells out Buenos Aires and Ruta 3. Take that highway. There's also another big green sign that says González Catán, San Justo, and Buenos Aires. It's exactly 10.5 km until the Álamos ranch
            li Immediately, you'll find a very big UTA union field to the right
            li
              span When you reach km 52, you'll see a huge
              span=' '
              em Jehová's Witnesses
              span temple, and &mdash; 200 m later &mdash; a walking bridge over the route
            li
              span On the right-hand side you'll notice a sign that says
              span=' '
              strong Petión/Visir (do not take it)
              span , continue for 500 m on route 3
            li To the right you'll find the entrance to Álamos de Cañuelas (you'll see a big wooden sign with the ranch's name and logo)
            li Take a right and 200 m later you'll find the doorway to the ranch

          blockquote
            p If you have any inquiries or you need further directions, please reach Darío or Ana María at any of the following phone lines:
            ul
              li.d-clear 15 5 451 2180
              li.d-clear 15 5 451 2183
              li.d-clear 0114 976 0818

          iframe.gt-map(src='http://maps.google.com/maps?q=-34.9347806,-58.71926388888889&z=17&output=embed', width='100%', height='480', frameBorder='0', scrolling='no')
        input(type='radio', name='how-menu', class='gt-radio', id='by-van')
        section.gt-content.sc-content
            +gettingThereMenu(1)
            p If you're dying to come but don't have how to get to the ranch, or if you want to become the self-proclaimed drink bar world champion, we also have options for you!
            p
              span We've hired a van service that can take you to the ranch and back to the city. If you want to take the van we ask that you let us know
              span=' '
              strong before March 1st
              span , preferably via email
            p
              span You can reach us about this at:
              span=' '
              a(href='mailto:van@tiramoslacasaporlaventana.com', target='_blank') van@tiramoslacasaporlaventana.com
      article#gifts
        header
          h1.sc-heading.bk-heading What to gift?
        aside.sc-media-990.sc-aside
          img(src='/images/us.jpg', alt='')
        section.sc-media-990.sc-content
          p We opted for a simple option so that you don't have to bend over backwards thinking about your gift, and so that we don't have to deal with a wedding gift list: money.
          p If you want, you can help us with a piece of our all-out honey moon!
          p Here are our banking details.
          table
            tr
              td.yr-right-aligned Bank
              td Galicia
            tr
              td.yr-right-aligned Client
              td Nicolás Bevacqua
            tr
              td.yr-right-aligned CA$
              td.d-clear 4012824-4 068-4
            tr
              td.yr-right-aligned CBU
              td.d-clear 00700689 - 30004012824444
            tr
              td.yr-right-aligned CUIT
              td.d-clear 20-33905103-9
          p There's also going to be a chest at the lounge where you'll be able to leave your present, on the day of the wedding party.
          p
            span If you're in the mood, you can write a message for us and leave it in the chest, or you can also send an email to:
            span=' '
            a(href='mailto:us@tiramoslacasaporlaventana.com', target='_blank') us@tiramoslacasaporlaventana.com
    footer.ly-footer
      span Please don't hesitate to send greetings &mdash; or any questions you may have &mdash; via email to:
      span=' '
      a(href='mailto:us@tiramoslacasaporlaventana.com', target='_blank') us@tiramoslacasaporlaventana.com
      span !
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-35043128-10', 'auto');
      ga('send', 'pageview');
    script.
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
      }
